arrow
black
build
click
colorama
gitlint
gitlint-core
isort
mypy
mypy-extensions
packaging
pathspec
pep517
platformdirs
pycodestyle
pyflakes
pygame
pyparsing
python-dateutil
sh
six
tomli
typing-extensions
adamlint